.RegisterPage {
  margin: auto;
  justify-content: center;
  background-color: #fafafa;
  border: 2px solid #040404;
  border-radius: 1em;
  width: 40vw;
}

form {
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5em;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 0.4em;
}

input:focus {
  border: 2px solid black;
  outline: none;
}

.input-name {
  margin: 1em;
  font-weight: bold;
}

.error {
  color: red;
}

button {
  margin-top: 1em;
  border: 1px solid #000;
  background-color: #fff;
}
